.add-to-cart-button-wrapper {
  width: fit-content;
  height: fit-content;
}

.add-to-cart-button {
  border: none;
  outline: none;
  background-color: #000000;
  border-radius: 5px;
  height: 32px;
  width: 126px;

  font-family: "Nunito";
  font-size: 12px;
  font-weight: 700;
  line-height: 16.37px;
  text-align: center;
  color: #ffffff;
  margin: 8px 0 14px 0;
}
